
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$white: #ffffff;

$green-lightest: #75BC97;
$green-light: #257556;
$green: #15573F;
$green-dark: #196146;
$green-darkest: #1E6B4E;

$grey-light: #a8a8a8;
$grey-lightest: #F6F6F6;
